/*
    ***************************************************
    *** Main Menu                                ***
    ***************************************************
*/
.main-menu-bar {}

/*
    ***************************************************
    *** Main ToolBar                                ***
    ***************************************************
*/
.main-toolbar {
    -fx-spacing: 4px;
}

.main-toolbar .button {
    -fx-padding: 4px;
}

/*
    ***************************************************
    *** Workspace Explorer                          ***
    ***************************************************
*/
.workspace-explorer .workspace-explorer-toolbar {
    -fx-spacing: 4px;
}

.workspace-explorer .workspace-explorer-toolbar .button {
    -fx-padding: 4px;
}

/*
    ***************************************************
    *** Code Editor                                 ***
    ***************************************************
*/

.editor-tab-panel .editor-tab .editor-toolbar {
    -fx-spacing: 4px;
    -fx-max-height: 50px;
}

.editor-tab-panel .editor-tab .editor-toolbar .button {
    -fx-padding: 4px;
}

.code-editor .code-area .find-text {
    -rtfx-background-color: yellow !important;
    -fx-fill: black !important;
}

.code-editor .code-area {
    /* -fx-background-color: linear-gradient(to right, -color-bg-subtle 0%, -color-bg-subtle 60px, -color-bg-default 60px, -color-bg-default 100%); */
    -fx-background-color: -color-bg-subtle, linear-gradient(to right, -color-bg-default, -color-bg-default)!important ;
    -fx-background-insets: 0, 0 0 0 50;
    -fx-tab-size: 4;
    -fx-font-family: 'Consolas';
    -fx-font-size: 11pt;
}

.code-editor .code-area .paragraph-box .text {
    -fx-tab-size: 4;
}

.code-editor .caret {
    -fx-stroke: -color-fg-default !important;
}

// Gutter
.code-editor .paragraph-box .gutter .line-number {
    -fx-text-fill: #d4d4d4;
    -fx-background-color: transparent;
}

.code-editor .paragraph-box .gutter .custom-fold-indicator {
    -fx-background-color: transparent;
    -fx-text-fill: #00ff00;
    -fx-font-size: 12pt;
}