/*
    ***************************************************
    *** Main Menu                                ***
    ***************************************************
*/
.main-menu-bar {}

/*
    ***************************************************
    *** ToolBar buttons                             ***
    ***************************************************
*/
.large-toolbar {
    -fx-spacing: 8px;
    -fx-padding: 4px 8px 4px 8px;
}

.large-toolbar .button {
    -fx-padding: 8px;
}

.neutral-icon {
    -fx-text-fill: #F2C14E;
}

.positive-icon {
    -fx-text-fill: #9ECE6A;
}

.negative-icon {
    -fx-text-fill: #F7768E;
}

.workspace-icon {
    -fx-text-fill: #F2C14E;
}

.template-icon {
    -fx-text-fill: #4FC1FF;
}


.block-icon {
    -fx-text-fill: #FF6B6B;
}

.module-icon {
    -fx-text-fill: #C586FF;
}

.context-icon {
    -fx-text-fill: #4EC9B0;
}

.small-toolbar {
    -fx-spacing: 4px;
    -fx-max-height: 50px;
}

.small-toolbar .button {
    -fx-padding: 4px;
}

/*
    ***************************************************
    *** Code Editor                                 ***
    ***************************************************
*/
.code-editor .code-area .find-text {
    -rtfx-background-color: yellow !important;
    -fx-fill: black !important;
}

.code-editor .code-area {
    /* -fx-background-color: linear-gradient(to right, -color-bg-subtle 0%, -color-bg-subtle 60px, -color-bg-default 60px, -color-bg-default 100%); */
    -fx-background-color: -color-bg-subtle, linear-gradient(to right, -color-bg-default, -color-bg-default)!important ;
    -fx-background-insets: 0, 0 0 0 50;
    -fx-tab-size: 4;
    -fx-font-family: 'Consolas';
    -fx-font-size: 11pt;
}

.code-editor .code-area .paragraph-box .text {
    -fx-tab-size: 4;
}

.code-editor .caret {
    -fx-stroke: -color-fg-default !important;
}

/* Gutter */
.code-editor .paragraph-box .gutter .line-number {
    -fx-text-fill: #d4d4d4;
    -fx-background-color: transparent;
}

.code-editor .paragraph-box .gutter .custom-fold-indicator {
    -fx-background-color: transparent;
    -fx-text-fill: #00ff00;
    -fx-font-size: 12pt;
}