@import "ide_general_styles.css";

/***************************************************
*** ToolBar buttons                             ***
***************************************************
*/
.neutral-icon {
    -fx-text-fill: #B7791F;
}

.positive-icon {
    -fx-text-fill: #4E8F00;
}

.negative-icon {
    -fx-text-fill: #AD1457;
}

.workspace-icon {
    -fx-text-fill: #B7791F;
}

.template-icon {
    -fx-text-fill: #2F5DA8;
}

.block-icon {
    -fx-text-fill: #AD1457;
}

.module-icon {
    -fx-text-fill: #4E8F00;
}

.context-icon {
    -fx-text-fill: #4EC9B0;
}

/*
***************************************************
*** Code Editor                                 ***
***************************************************
*/
.code-editor .code-area .find-text {
    -rtfx-background-color: yellow !important;
    -fx-fill: black !important;
}

/* Gutter */
.code-editor .paragraph-box .gutter .line-number {
    -fx-text-fill: #2e2e2e;
    -fx-background-color: transparent;
}

.code-editor .paragraph-box .gutter .custom-fold-indicator {
    -fx-background-color: transparent;
    -fx-text-fill: #004006;
    -fx-font-size: 12pt;
}