// XML Syntax

.code-editor .plain-text {
    -fx-fill: #111111;
}

.code-editor .tagmark {
    -fx-fill: #292929;
}
.code-editor .anytag {
    -fx-fill: #2b0020;
}
.code-editor .paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}


.code-editor .attribute {
    -fx-fill: #2c006e;
}
.code-editor .avalue {
    -fx-fill: #cE9178;
}
.code-editor .comment {
	-fx-fill: #717171;
}