<%@ include view='MoreTestFunctions' %>

<html>
	<body style="background-color:MediumSeaGreen;">
		Hello <%= rtEvent.ctx.customer.name %><BR>
		<%@ include module='TestModule' %>
		<% var today = getCurrentDate(); %>
		Today is: <%= today %>
	</body>
</html>