<%@ include view='testFunctions' %>

<html>
<body style="background-color:MediumSeaGreen;">
Hello <%= rtEvent.ctx.customer.name %> <%= test() %> <BR>
<%
	var test = test();
%>
Test Result: <%= test %><br>
</body>
</html>