<%@ include view='testFunctions' %>
<%@ include view='ssgDateFormatted' %>
<%@ include view='ssgOrderShipmentFunctions' %>
<html>
<body style="background-color:MediumSeaGreen;">
Hello <%= rtEvent.ctx.customer.name %> <%= test() %> <BR>
<%
    var orderDate = formatDateMC(rtEvent.ctx.order.createdAt, "com.specsavers.delivery.added-gb");
    var latestDelivery = getLatestDelivery();
%>
Order Created: <%= orderDate %><br>
Latest Delivery Date: <%= latestDelivery.createdAt %>

</body>
</html>