.root {
    -fx-base: #2b2b2b;
    -fx-background: #2b2b2b;
    -fx-control-inner-background: #313335;
    -fx-text-fill: #dcdcdc;
    -fx-highlight-fill: #3c3f41;
    -fx-highlight-text-fill: #ffffff;
    -fx-accent: #009688;
    -fx-focus-color: #009688;
}

.text-area {
    -fx-control-inner-background: #313335;
    -fx-text-fill: #dcdcdc;
    -fx-highlight-fill: #3c3f41;
    -fx-highlight-text-fill: #ffffff;
    -fx-font-family: "Source Code Pro";
}

.label {
    -fx-text-fill: #dcdcdc;
}

.button {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #dcdcdc;
}

.menu-bar {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #dcdcdc;
}
